body {
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}


.player {
	background-color: rgb(225, 225, 225);
	width: 70%;
	border-radius: 10px;
	border: 1px solid rgb(244, 141, 100);
	margin: 0 auto;
	padding: 10px 10px
	
}

#header {
	width: 100%;
	min-height: 30px;
	background-color: rgb(53, 43, 73);
	color: rgb(219, 219, 219);
	text-align: center;
	border-radius: 0;
	border: none;
}

table, th, td {
    border: 1px solid black;
}
